.cart-dropdown {
  position: absolute;
  height: 340px;
  width: 240px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  top: 80px;
  right: 40px;
  background-color: white;
  z-index: 2;

  button {
    width: 100%;
  }
}

.cart-items {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: scroll;
  margin-bottom: 10px;
  justify-content: flex-start;
}

