.cart-dropdown {
  position: absolute;
  height: 340px;
  width: 240px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  top: 80px;
  right: 40px;
  background-color: white;
  z-index: 2;
}